includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
  ignoreErrors:
    - '/^Internal error: Could not find item at .+\/Mapping\/Driver\/.+Driver\.php/'
    - '/^Parameter \#\d \$.+ of class Neomerx\\JsonApi\\Encoder\\Parameters\\EncodingParameters constructor expects array(<string>)?\|null, iterable given\.$/'
    - '/^In method "Jgut\\JsonApi\\Schema\\MetadataSchema::checkResourceType", parameter \$resource can be type-hinted to "object"\.$/'
    - '/^Method Jgut\\JsonApi\\Manager::getResourceMetadata\(\) should return array<Jgut\\JsonApi\\Mapping\\Metadata\\ResourceMetadata> but returns array<Jgut\\Mapping\\Metadata\\MetadataInterface>\.$/'
