parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - '/^Binary operation "\+" between float\|int\|string and 0 results in an error\.$/'
    - '/^Parameter #4 \$meta of method Neomerx\\JsonApi\\Contracts\\Factories\\FactoryInterface::createLink\(\) expects null, \(array<string, mixed>\)\|null given\.$/'
